In [1]:
from reconcilation import *

## Reading input files

In [2]:
PRODUCT = pd.read_csv('DPS_PRODUCT.csv')
LOCATION = pd.read_csv('DPS_LOCATION.csv')
CUSTOMER = pd.read_csv('DPS_CUSTOMER.csv')
DISTR_CHANNEL = pd.read_csv('DPS_DISTR_CHANNEL.csv')

PRODUCT.columns = PRODUCT.columns.str.lower()
LOCATION.columns = LOCATION.columns.str.lower()
CUSTOMER.columns = CUSTOMER.columns.str.lower()
DISTR_CHANNEL.columns = DISTR_CHANNEL.columns.str.lower()

hierarchies = {
    'product' : PRODUCT,
    'location' : LOCATION,
    'customer' : CUSTOMER,
    'distr_channel' : DISTR_CHANNEL
}

## Config example

In [3]:
config = {
    'tgt_type' : 'POS',
    'value_src' : 'SALES_QTY',
    'act_flag' : 1,
    'vf_product_lvl' : 1,
    'vf_location_lvl' : 1,
    'vf_customer_lvl' : 1,
    'vf_distr_channel_lvl' : 1,
    'vf_time_lvl' : 'MONTH',
    'ml_product_lvl' : 7,
    'ml_location_lvl' : 5,
    'ml_customer_lvl' : 5,
    'ml_distr_channel_lvl' : 1,
    'ml_time_lvl' : 'WEEK'
}

IB_HIST_END_DT = datetime.datetime(2022, 6, 30)
IB_FC_HORIZ = 30

## Generating data

In [4]:
VF_FORECAST, ML_FORECAST = generate_data(config, IB_HIST_END_DT, hierarchies)

In [5]:
VF_FORECAST.head()

,PERIOD_DT,product_lvl_id1,customer_lvl_id1,location_lvl_id1,distr_channel_lvl_id1,FORECAST_VALUE
0,2022-07-01,10084,1000000,100000,2,774.494503
1,2022-08-01,10084,1000000,100000,2,334.073194
2,2022-09-01,10084,1000000,100000,2,744.781974
3,2022-10-01,10084,1000000,100000,2,816.965498
4,2022-11-01,10084,1000000,100000,2,222.958516

In [6]:
ML_FORECAST.head()

,PERIOD_DT,product_lvl_id7,customer_lvl_id5,location_lvl_id5,distr_channel_lvl_id1,FORECAST_VALUE,DEMAND_TYPE,ASSORTMENT_TYPE
0,2022-07-04,70001,5000001,500015,2,633.785977,regular,old
1,2022-07-04,70001,5000001,500015,2,535.002304,regular,new
2,2022-07-04,70001,5000001,500014,2,602.919558,regular,old
3,2022-07-04,70001,5000001,500014,2,651.119234,promo,old
4,2022-07-04,70001,5000001,500015,2,617.512781,regular,new

## Running the algorighm

In [7]:
mid_reconciled_forecast, reconciled_forecast = reconcilation_algorithm(
    VF_FORECAST, ML_FORECAST, config, IB_HIST_END_DT, IB_FC_HORIZ, hierarchies
)

In [8]:
mid_reconciled_forecast

,PERIOD_END_DT,product_lvl_id1,customer_lvl_id1,location_lvl_id1,distr_channel_lvl_id1,VF_FORECAST_VALUE_REC,ML_FORECAST_VALUE,DEMAND_TYPE,ASSORTMENT_TYPE
2,2022-09-01,10084,1000000,100000,2,744.781974,None,Regular,old
3,2022-10-01,10084,1000000,100000,2,816.965498,None,Regular,old
4,2022-11-01,10084,1000000,100000,2,222.958516,None,Regular,old
5,2022-12-01,10084,1000000,100000,2,1268.406247,None,Regular,old
6,2023-01-01,10084,1000000,100000,2,650.039840,None,Regular,old
7,2023-02-01,10084,1000000,100000,2,15.296610,None,Regular,old
8,2023-03-01,10084,1000000,100000,2,739.964155,None,Regular,old
9,2023-04-01,10084,1000000,100000,2,195.649832,None,Regular,old
10,2023-05-01,10084,1000000,100000,2,19.184014,None,Regular,old
11,2023-06-01,10084,1000000,100000,2,507.312632,None,Regular,old

In [9]:
reconciled_forecast

,product_lvl_id7,customer_lvl_id5,location_lvl_id5,distr_channel_lvl_id1,ML_FORECAST_VALUE,DEMAND_TYPE,ASSORTMENT_TYPE,product_lvl_id1,customer_lvl_id1,location_lvl_id1,PERIOD_DT,PERIOD_END_DT,VF_FORECAST_VALUE_REC
0,70001,5000001,500015,2,633.785977,regular,old,10084,1000000,100000,2022-07-04,2022-07-10,216.295382
1,70001,5000001,500015,2,535.002304,regular,new,10084,1000000,100000,2022-07-04,2022-07-10,182.582973
2,70001,5000001,500015,2,617.512781,regular,new,10084,1000000,100000,2022-07-04,2022-07-10,210.741745
3,70001,5000001,500015,2,695.172598,promo,old,10084,1000000,100000,2022-07-04,2022-07-10,237.245109
4,70001,5000001,500015,2,515.630388,regular,old,10084,1000000,100000,2022-07-04,2022-07-10,175.971820
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146075,70083,5000003,500017,2,459.248827,regular,new,10084,1000000,100000,2022-08-22,2022-08-28,70.561404
146076,70083,5000003,500017,2,191.273227,promo,old,10084,1000000,100000,2022-08-22,2022-08-28,29.388224
146077,70083,5000003,500017,2,295.593448,promo,new,10084,1000000,100000,2022-08-22,2022-08-28,45.416531
146078,70083,5000003,500017,2,913.857221,regular,new,10084,1000000,100000,2022-08-22,2022-08-28,140.409827
146079,70083,5000003,500017,2,971.621577,promo,new,10084,1000000,100000,2022-08-22,2022-08-28,149.285046