In [2]:
from autocorrections import *

ModuleNotFoundError: No module named 'autocorrections'

# Input

In [64]:
PRODUCT = pd.read_csv('dt/DPS_PRODUCT.csv')
LOCATION = pd.read_csv('dt/DPS_LOCATION.csv')
CUSTOMER = pd.read_csv('dt/DPS_CUSTOMER.csv')
DISTR_CHANNEL = pd.read_csv('dt/DPS_DISTR_CHANNEL.csv')

PRODUCT.columns = PRODUCT.columns.str.lower()
LOCATION.columns = LOCATION.columns.str.lower()
CUSTOMER.columns = CUSTOMER.columns.str.lower()
DISTR_CHANNEL.columns = DISTR_CHANNEL.columns.str.lower()

In [65]:
PRODUCT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_lvl_id1    83 non-null     int64
 1   product_lvl_nm1    83 non-null     object
 2   product_lvl_desc1  83 non-null     object
 3   product_lvl_id2    83 non-null     int64
 4   product_lvl_nm2    83 non-null     object
 5   product_lvl_desc2  83 non-null     object
 6   product_lvl_id3    83 non-null     int64
 7   product_lvl_nm3    83 non-null     object
 8   product_lvl_desc3  83 non-null     object
 9   product_lvl_id4    83 non-null     int64
 10  product_lvl_nm4    83 non-null     object
 11  product_lvl_desc4  83 non-null     object
 12  product_lvl_id5    83 non-null     int64
 13  product_lvl_nm5    83 non-null     object
 14  product_lvl_desc5  83 non-null     object
 15  product_lvl_id6    83 non-null     int64
 16  product_lvl_nm6    83 non-null     object
 17  product_lvl_desc6  83 non-null     object
 18  product_lvl_id7    83 non-null     int64
 19  product_lvl_nm7    83 non-null     object
 20  product_lvl_desc7  83 non-null     object
 21  parent_product_id  83 non-null     int64
 22  product_id         83 non-null     int64
 23  product_nm         83 non-null     object
 24  product_desc       83 non-null     object
 25  modified_dttm      83 non-null     object
 26  delete_flg         83 non-null     int64
dtypes: int64(10), object(17)
memory usage: 17.6+ KB

In [66]:
LOCATION.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   location_lvl_id1    11 non-null     int64
 1   location_lvl_nm1    11 non-null     object
 2   location_lvl_desc1  11 non-null     object
 3   location_lvl_id2    11 non-null     int64
 4   location_lvl_nm2    11 non-null     object
 5   location_lvl_desc2  11 non-null     object
 6   location_lvl_id3    11 non-null     int64
 7   location_lvl_nm3    11 non-null     object
 8   location_lvl_desc3  11 non-null     object
 9   location_lvl_id4    11 non-null     int64
 10  location_lvl_nm4    11 non-null     object
 11  location_lvl_desc4  11 non-null     object
 12  location_lvl_id5    11 non-null     int64
 13  location_lvl_nm5    11 non-null     object
 14  location_lvl_desc5  11 non-null     object
 15  location_id         11 non-null     int64
 16  location_nm         11 non-null     object
 17  location_desc       11 non-null     object
 18  open_dttm           11 non-null     object
 19  close_dttm          11 non-null     object
 20  modified_dttm       11 non-null     object
 21  delete_flg          11 non-null     int64
dtypes: int64(7), object(15)
memory usage: 2.0+ KB

In [67]:
CUSTOMER.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_lvl_id1    20 non-null     int64
 1   location_lvl_nm1    20 non-null     object
 2   location_lvl_desc1  20 non-null     object
 3   customer_lvl_id2    20 non-null     int64
 4   location_lvl_nm2    20 non-null     object
 5   location_lvl_desc2  20 non-null     object
 6   customer_lvl_id3    20 non-null     int64
 7   customer_lvl_nm3    20 non-null     object
 8   customer_lvl_desc3  20 non-null     object
 9   customer_lvl_id4    20 non-null     int64
 10  customer_lvl_nm4    20 non-null     object
 11  customer_lvl_desc4  20 non-null     object
 12  customer_lvl_id5    20 non-null     int64
 13  customer_lvl_nm5    20 non-null     object
 14  customer_lvl_desc5  20 non-null     object
 15  customer_id         20 non-null     int64
 16  customer_nm         20 non-null     object
 17  customer_desc       20 non-null     object
 18  open_dttm           20 non-null     object
 19  close_dttm          20 non-null     object
 20  modified_dttm       20 non-null     object
 21  delete_flg          20 non-null     int64
dtypes: int64(7), object(15)
memory usage: 3.6+ KB

In [68]:
DISTR_CHANNEL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   distr_channel_lvl_id1    1 non-null      int64
 1   distr_channel_lvl_nm1    1 non-null      object
 2   distr_channel_lvl_desc1  1 non-null      object
 3   distr_channel_id         1 non-null      int64
 4   distr_channel_nm         1 non-null      object
 5   distr_channel_desc       1 non-null      object
 6   open_dttm                1 non-null      object
 7   close_dttm               0 non-null      float64
 8   modified_dttm            1 non-null      object
 9   delete_flg               1 non-null      int64
dtypes: float64(1), int64(3), object(6)
memory usage: 208.0+ bytes

# 2.5	 CONFIG_PARAMETERS

In [69]:
config_parameters = {
    'ib_adj_forecast_list' : 'acc_agg_hybrid_forecast',
    'ib_npf_max_hist_depth' : 28,
    'ib_adj2_min_observ_num' : 7,
    'ib_adj2_base_past_period' : 56,
    'ib_adj3_base_past_period' : 56,
    'ib_adj3_seasonl_calc_lvl' : 7,  #
    'ib_adj3_use_seas_coef_flg' : 1,
    'ib_adj3_min_observ_num' : 28,
    'ib_adj3_correction_method' : 'mean',
    'ibn_ff_active_status_list' : 'active'
}

# 2.5.1 CONFIG-FILE TARGET VARIABLES

In [81]:
config_file = {
    'tgt_type' : 'POS',
    'tgt_qty_table' : 'IN_SALES',
    'value_src' : 'SALES_QTY',
    'act_flag' : 1,
    'dr_scen' : 0, 
    'link_with_stock' : 1,
    'link_with_promo' : 1,
    'link_with_price' : 1,
    'vf_product_lvl' : 1,
    'vf_location_lvl' : 1,
    'vf_customer_lvl' : 1,
    'vf_distr_channel_lvl' : 1,
    'vf_time_lvl' : 'WEEK',
    'ml_product_lvl' : 7,
    'ml_location_lvl' : 5,
    'ml_customer_lvl' : 3,
    'ml_distr_channel_lvl' : 3,
    'ml_time_lvl' : 'WEEK',
    'out_product_lvl' : 7,
    'out_location_lvl' : 5,
    'out_customer_lvl' : 3,
    'out_distr_channel_lvl' : 3,
    'out_time_lvl' : 'WEEK'
}

hierarchies = {
    'product' : PRODUCT,
    'location' : LOCATION,
    'customer' : CUSTOMER,
    'distr_channel' : DISTR_CHANNEL
}

IB_HIST_START_DT = datetime.datetime(2022, 6, 15)
IB_HIST_END_DT = datetime.datetime(2022, 6, 30)
IB_FC_HORIZ = 30
# delays_config_length = 30

# Generate Data
## DISACC_DISAGG_HYBRID_FORECAST, FORECAST_FLAG

In [82]:
import pandas as pd
import numpy as np
import datetime
from calendar import monthrange
# import reconcilation
import warnings
warnings.filterwarnings('ignore')

In [95]:
def generate_data(config_file : dict, 
                  IB_HIST_START_DT : datetime.datetime, 
                  IB_HIST_END_DT : datetime.datetime, 
                  hierarchies : dict) -> (pd.DataFrame, pd.DataFrame, pd.DataFrame, pd.DataFrame):
    """
    Function generating input data
    
    Parameters
    ----------
    config_file : dict
        Configuration parameters used within the step
    IB_HIST_END_DT
        Last known date (i.e. sales and stock information is known)
    hierarchies
        Dictionary containg matches of key names with the relevant hierarchical tables
       
    Returns
    -------
    pd.DataFrame
        ACC_AGG_HYBRID_FORECAST_ used as input data of the algorithm
    pd.DataFrame
        DEMAND_RESTORED_ Demand information regarding 
        the past till last known day of the history.
    pd.DataFrame
        FORECAST_FLAG used as input data of the algorithm
    pd.DataFrame    
        PRE_ABT General table for ML and VF ABTs preparation
        used as input data of the algorithm
    """
    
    freq = config_file['out_time_lvl'][0]
    timerange = pd.date_range(IB_HIST_END_DT, IB_HIST_END_DT + datetime.timedelta(weeks=52), freq=freq)
    timerange += datetime.timedelta(1)
    
    ACC_AGG_HYBRID_FORECAST_ = pd.DataFrame(timerange, columns=['period_dt'])
    
    for key in ['product', 'location', 'customer', 'distr_channel']:
        column_name = f"{key}_lvl_id{config_file[f'vf_{key}_lvl']}"
        keys_df = pd.DataFrame(hierarchies[key][column_name]).drop_duplicates()
        ACC_AGG_HYBRID_FORECAST_ = pd.merge(ACC_AGG_HYBRID_FORECAST_, keys_df, 'cross')

#     ACC_AGG_HYBRID_FORECAST_['segment_name] = ['name1' for x in range(600001, 602001)]  can be missing
    ACC_AGG_HYBRID_FORECAST_['vf_forecast_value'] = np.abs(np.random.normal(500, 300, 
                                                                            ACC_AGG_HYBRID_FORECAST_.shape[0]))
    ACC_AGG_HYBRID_FORECAST_['demand_type'] = np.random.choice(['promo', 'regular'], 
                                                               ACC_AGG_HYBRID_FORECAST_.shape[0])
    ACC_AGG_HYBRID_FORECAST_['assortment_type'] = np.random.choice(['new', 'old'], 
                                                               ACC_AGG_HYBRID_FORECAST_.shape[0])
    ACC_AGG_HYBRID_FORECAST_['ml_forecast_value'] = np.abs(np.random.normal(500, 300, 
                                                                            ACC_AGG_HYBRID_FORECAST_.shape[0]))
    ACC_AGG_HYBRID_FORECAST_['hybrid_forecast_value'] = np.abs(np.random.normal(500, 300, 
                                                                            ACC_AGG_HYBRID_FORECAST_.shape[0]))
#     ACC_AGG_HYBRID_FORECAST_['ENSEMBLE_FORECAST_VALUE'] = np.mean(ML_FORECAST_VALUE, VF_FORECAST_VALUE)
    ACC_AGG_HYBRID_FORECAST_['forecast_source'] = np.random.choice(['vf', 'ml'], 
                                                               ACC_AGG_HYBRID_FORECAST_.shape[0])

    
    DEMAND_RESTORED = pd.DataFrame()
    DEMAND_RESTORED['period_dt'] = pd.date_range(IB_HIST_START_DT, IB_HIST_END_DT)
    DEMAND_RESTORED = pd.merge(DEMAND_RESTORED, PRODUCT['product_id'], 'cross')
    DEMAND_RESTORED = pd.merge(DEMAND_RESTORED, LOCATION['location_id'], 'cross')
    DEMAND_RESTORED = pd.merge(DEMAND_RESTORED, CUSTOMER['customer_id'], 'cross')
    DEMAND_RESTORED = pd.merge(DEMAND_RESTORED, DISTR_CHANNEL['distr_channel_id'], 'cross')
    
    DEMAND_RESTORED['tgt_qty'] = abs(np.random.normal(500, 300, DEMAND_RESTORED.shape[0]))
    DEMAND_RESTORED['tgt_qty_r'] = DEMAND_RESTORED['tgt_qty'] + np.random.normal(50, 30, DEMAND_RESTORED.shape[0])
    DEMAND_RESTORED['stock_qty'] = abs(np.random.normal(500, 300, DEMAND_RESTORED.shape[0]))
    DEMAND_RESTORED['promo_flag'] = np.random.choice([0, 1], p = [0.8, 0.2], size = DEMAND_RESTORED.shape[0])
    DEMAND_RESTORED['deficit_flg1'] = np.random.choice([0, 1], p = [0.8, 0.2], size = DEMAND_RESTORED.shape[0])
    DEMAND_RESTORED['deficit_flg2'] = np.random.choice([0, 1], p = [0.8, 0.2], size = DEMAND_RESTORED.shape[0])
    
    FORECAST_FLAG = pd.DataFrame()
    FORECAST_FLAG['period_start_dt'] = [IB_HIST_START_DT]
    FORECAST_FLAG['period_end_dt'] = [IB_HIST_END_DT]

    for key in hierarchies:
        key_df = hierarchies[key][f"{key}_id"]
        FORECAST_FLAG = pd.merge(FORECAST_FLAG, key_df, 'cross')

    FORECAST_FLAG['STATUS'] = np.random.choice(['active', 'blocked', 'out-of-sale'], size = FORECAST_FLAG.shape[0])
#     FORECAST_FLAG.loc[(FORECAST_FLAG['PRODUCT_ID'] == PROMO['PRODUCT_ID'][0]) &
#                      (FORECAST_FLAG['LOCATION_ID'] == PROMO['LOCATION_ID'][0]) &
#                      (FORECAST_FLAG['CUSTOMER_ID'] == PROMO['CUSTOMER_ID'][0]) &
#                      (FORECAST_FLAG['DISTR_CHANNEL_ID'] == PROMO['DISTR_CHANNEL_ID'][0]), 'STATUS'] = 'active'

    PRE_ABT = pd.DataFrame()
    
    
    return ACC_AGG_HYBRID_FORECAST_, DEMAND_RESTORED, FORECAST_FLAG, PRE_ABT

In [96]:
ACC_AGG_HYBRID_FORECAST_, DEMAND_RESTORED, FORECAST_FLAG, PRE_ABT = generate_data(config_file, 
                                                                                  IB_HIST_START_DT, 
                                                                                  IB_HIST_END_DT, 
                                                                                  hierarchies)

In [100]:
ACC_AGG_HYBRID_FORECAST_.head()

,period_dt,product_lvl_id1,location_lvl_id1,customer_lvl_id1,distr_channel_lvl_id1,vf_forecast_value,demand_type,assortment_type,ml_forecast_value,hybrid_forecast_value,forecast_source
0,2022-07-04,10084,100000,1000000,2,374.785813,regular,new,619.458381,961.074072,ml
1,2022-07-11,10084,100000,1000000,2,521.871897,regular,old,369.602547,550.110128,ml
2,2022-07-18,10084,100000,1000000,2,373.885039,promo,new,469.603874,696.752002,vf
3,2022-07-25,10084,100000,1000000,2,57.441540,regular,old,613.361418,712.840605,vf
4,2022-08-01,10084,100000,1000000,2,747.097188,regular,new,56.205008,330.445336,vf

In [101]:
DEMAND_RESTORED.head()

,period_dt,product_id,location_id,customer_id,distr_channel_id,tgt_qty,tgt_qty_r,stock_qty,promo_flag,deficit_flg1,deficit_flg2
0,2022-06-15,80001,600002,6000002,1,520.223332,575.275623,553.384144,0,0,0
1,2022-06-15,80001,600002,6000003,1,327.478222,382.405325,87.193799,0,0,0
2,2022-06-15,80001,600002,6000004,1,577.818111,582.466927,371.756624,1,0,0
3,2022-06-15,80001,600002,6000005,1,232.071496,260.395990,994.710795,0,0,1
4,2022-06-15,80001,600002,6000006,1,887.989046,950.924535,441.356164,0,0,0

In [102]:
FORECAST_FLAG.head()

,period_start_dt,period_end_dt,product_id,location_id,customer_id,distr_channel_id,STATUS
0,2022-06-15,2022-06-30,80001,600002,6000002,1,out-of-sale
1,2022-06-15,2022-06-30,80001,600002,6000003,1,active
2,2022-06-15,2022-06-30,80001,600002,6000004,1,active
3,2022-06-15,2022-06-30,80001,600002,6000005,1,out-of-sale
4,2022-06-15,2022-06-30,80001,600002,6000006,1,blocked

In [103]:
PRE_ABT.head()

Empty DataFrame
Columns: []
Index: []

In [ ]:
DISACC_DISAGG_HYBRID_FORECAST = pd.DataFrame(
    {
        'PRODUCT_LVL_ID6': [x for x in range(600001, 602001)],
        'LOCATION_LVL_ID8': [x for x in range(800001, 802001)],
        'CUSTOMER_LVL_ID6': [x for x in range(600001, 602001)],
        'DISTR_CHANNEL_LVL_ID6': [x for x in range(600001, 602001)],
        'PERIOD_DT': pd.date_range(start='2015-01-01', periods=2000, freq='MS'),
        'SEGMENT_NAME': ['t1' for x in range(600001, 602001)],
        'VF_FORECAST_VALUE': np.random.uniform(0, 100, 2000),
        'DEMAND_TYPE': np.random.randint(0, 2, 2000),
        'PERIOD_END_DT': pd.date_range(start='2015-02-01', periods=2000, freq='MS'),
        'ASSORTMENT_TYPE': np.random.choice(['new', 'old'], 2000),
        'ML_FORECAST_VALUE': np.random.uniform(0, 100, 2000),
        'HYBRID_FORECAST_VALUE': abs(np.random.normal(size=size)),
        'ENSEMBLE_FORECAST_VALUE': np.random.uniform(0, 100, 2000),
        'FORECAST_SOURCE':  np.random.uniform(0, 100, 2000)
    }
                           )

DISACC_DISAGG_HYBRID_FORECAST['PERIOD_DT'] += pd.Timedelta('1D')

In [ ]:
df = delete_forecast_inactive_period(DISACC_DISAGG_HYBRID_FORECAST, FORECAST_FLAG)

In [ ]:
df.head()